body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

header {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 8px 140px;
    margin: 0;
    align-items: center;
}

.header-container {
    display: flex;
    gap: 24px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 60px 140px;
    height: 200px;
    gap: 8px;
}



h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}

div .hero-text {
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}

.hero-right {
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.cards-section {
    display: flex;
    flex-direction: column;
    padding: 30px 140px 60px;
}

.cards-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-text {
    width: 100px;
    text-align: center;
}

.illustration {
    border: 2px solid #3882f6;
    height: 100px;
    width: 100px;
    border-radius: 12px;
}

.quote-section{
    background-color: #E5E7EB;
    padding: 80px 140px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 250;
}

.quote-author {
    text-align: right;
    font-weight: 700;
}

.cta {
    padding: 60px 140px;
}

.cta-container {
    background-color: #3882f6;
    padding: 36px 60px;
    border-radius: 8px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.cta-title {
    font-weight: 700;
}

.cta-description {
    font-weight: 300;
}

.cta-button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
}

footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    color: #F9FAF8;
}










